body {
    margin: 0%;
    background-color: rgb(220, 244, 245);
}

main > div > h1 {
    text-align: center;
    margin-top: 20px;
    animation-name: fadeIn;
    animation-duration: 1s;
}

.img-producto {
    width: 75%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
}

#carrito-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.producto {
    border: 1px solid black;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    margin: 10px;
    background-color: white;
}

a {
    text-decoration: none;
    color: white;
}

button {
    padding: 10px 20px;
    background-color: darkgray;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 3px;
}

#comprar {
    width: auto;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.botones {
    justify-content: space-between;
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}