nav {
    background-color: white;
    border-bottom: 1px solid #e9ecef;
    padding: 0;
    margin: 0;
    position: relative;
}

#logo {
    margin: 10px;
    text-align: center;
}

.fotocarro {
    float: right;
}

#carritoLink img {
    height: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #f2f2f2;
}

.contDesplegable {
    display: none;
    position: absolute;
    background-color: lightgray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    top: 100%; 
    left: 0;
}

.contDesplegable a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.contDesplegable a:hover {
    background-color: #494949;
    color: white;
}

.desplegable:hover .contDesplegable {
    display: block;
}